/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #0B1033;
    color: #BFC8FF;
  }
  
  /* Hero Section */
  .hero {
    background: url('assets/images/bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the "Hi, I'm Hana" section */
    align-items: center;
    padding: 20px 0;
    background-attachment: fixed;
    position: relative; /* Allow precise positioning for child elements */
  }
  
  .links {
    display: flex;
    gap: 15px;
    margin-top: 20px; /* Space below the "Hi, I'm Hana" section */
  }
  
  .hero-navigation {
    position: absolute; /* Place navigation links at the bottom */
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .hero-navigation h4 {
    margin: 0;
    font-size: 1rem;
    color: #BFC8FF;
  }
  
  .hero-button {
    text-decoration: none;
    font-size: 0.8rem;
    color: #BFC8FF;
    background-color: transparent;
    border: 1px solid #BFC8FF;
    padding: 5px 15px;
    border-radius: 25px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: #BFC8FF;
    color: #0B1033;
  }  
  
  .hero h1 {
    font-size: 2.5rem;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .animated-text {
    display: inline-block;
    font-size: 2rem;
    transition: opacity 0.5s ease-in-out; /* Smooth fade effect */
    opacity: 0; /* Start as invisible */
  }

  .arrow-down {
    position: absolute;
    bottom: 130px;
    right: 20px;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px 15px;
    border-radius: 50%;
    transition: transform 0.3s ease, background 0.3s ease;
  }
  
  .arrow-down:hover {
    transform: scale(1.2); /* Enlarge slightly on hover */
    background: rgba(0, 0, 0, 0.8); /* Darker on hover */
  }

  body.dark-mode {
    background-color: #1E1E1E;
    color: #CFCFCF;
  }
  
  button#dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #BFC8FF;
    color: #0B1033;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #toggle-mode {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: var(--accent-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0;
    cursor: pointer;
    background: none;
  }
  
  #toggle-mode img {
    width: 200px; /* Adjust size as needed */
    height: 80px; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Add a hover effect */
  }
  
  #toggle-mode img:hover {
    transform: scale(1.2); /* Slightly enlarge on hover */
  }
  
  
  #toggle-mode:hover {
    background-color: var(--background-color);
    color: var(--accent-color);
  }
  
  .links a {
    margin: 0 10px;
    color: #BFC8FF;
    text-decoration: none;
    border: 2px solid #BFC8FF;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .links a:hover {
    background-color: #BFC8FF;
    color: #0B1033;
  }
  
  /* Section Styles */
  section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: #212855;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    text-align: center;
    color: #BCBFD5;
  }

  #about-profile {
    display: flex;
    justify-content: space-between; /* Push text and image to opposite ends */
    align-items: center; /* Align items properly */
    width: 100%; /* Ensures full container width */
  }
  
  #about-text {
    display: flex;
    flex-direction: column; /* Stack paragraphs */
  }
  
  #profile {
    width: 145px; 
    height: 190px;
    border-radius: 8%;
  }
  
  
  /* Projects */
  .project-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-link:hover .project {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  .project {
    background-color: #464E80;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  
  
  .project h3 {
    color: #BFC8FF;
  }
  
  .project video {
    display: block;
    max-width: 100%;
    margin: 10px 0;
    border-radius: 8px;
  }
  
  /* Contact Form */
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, textarea {
    font-family: 'Arial', sans-serif; /* Ensure consistent font family */
    font-size: 1rem; /* Keep font size consistent */
    padding: 10px;
    border: 2px solid #BFC8FF;
    border-radius: 5px;
    background-color: #7A80AA;
    color: #fff;
    width: 100%; /* Ensure consistent width */
    box-sizing: border-box; /* Include padding and border in width */
  }
  
  textarea {
    resize: vertical; /* Allow resizing vertically only */
  }

   button {
    font-size: 1rem;
    padding: 10px;
    border: 2px solid #BFC8FF;
    border-radius: 5px;
    background-color: #7A80AA;
    color: #fff;
  }
  
  button {
    background-color: #BCBFD5;
    color: #0B1033;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #7A80AA;
    color: #fff;
  }
  
/* Light Mode Colors */
body.light-mode {
  background-color: #64878B; /* Light background */
  color: #0C3330; /* Light text color */
}

body.light-mode .hero {
  background: linear-gradient(135deg, #0C3330, #ACC0BE); /* Adjust gradient for light mode */
}

body.light-mode .links a {
  color: #1f433f; /* Adjust link color */
  border-color: #1f433f; /* Adjust border color */
}

body.light-mode .links a:hover {
  background-color: #46797f;
  color: #102020; /* Adjust hover text color */
}

body.light-mode h4 {
  color: #1f433f; /* Adjust color */
}

body.light-mode .hero-button {
  color: #0C3330; /* Adjust link color */
  border-color: #0C3330; /* Adjust border color */
}

body.light-mode .hero-button:hover {
  background-color: #46797f;
  color: #102020; /* Adjust hover text color */
}

body.light-mode section {
  background-color: #3D6B67; /* Light section background */
  color: #0b2f2c; /* Section text color */
}

body.light-mode h2 {
  color: #0C3330; /* Heading color for light mode */
}

body.light-mode h3 {
  color: #0C3330; /* Heading color for light mode */
}

body.light-mode .timeline {
  border-left: 2px solid #849897;
}

body.light-mode .timeline-item::before {
  background-color: #849897;
}

body.light-mode .project {
  background-color: #6E9692; /* Light project background */
}

body.light-mode .project h3 {
  color: #0C3330; /* Project title color */
}

body.light-mode input, 
body.light-mode textarea, 
body.light-mode button {
  background-color: #ACC0BE; /* Light form fields background */
  color: #0C3330; /* Light form fields text */
  border-color: #0C3330; /* Light border color */
}

body.light-mode button {
  background-color: #3D6B67; /* Light button background */
  color: #64878B; /* Light button text */
}

body.light-mode button:hover {
  background-color: #6E9692; /* Light button hover */
  color: #64878B; /* Light button hover text */
}

body.light-mode #back-to-top {
  background-color: #0b2f2c;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #7A80AA;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

#back-to-top:hover {
  background-color: #BCBFD5;
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding: 10px 0;
  border-left: 2px solid #BFC8FF;
}

.timeline-item {
  margin: 20px 0;
  padding-left: 20px;
  position: relative;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 10px;
  background-color: #BFC8FF;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}



